html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 0.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
