.mainfix {
    height: 100vh;
    width: 100vw;
    background-image: url("https://images5.alphacoders.com/858/858608.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}

.gamegologo {
    height: 18rem;
    width: 18rem;
}
