.gamegologonav {
    height: 3rem;
    width: 3rem
}

.dropdown-item {
    background-color: transparent;
    color: rgb(25, 135, 84);
}

.dropdown-item.active {
    background-color: rgb(25, 135, 84);
    color: white;
}

.navfix {
    height: 74px
}

li {
    margin-right: 1em;
}
